body {
    font-family: "Lato", sans-serif;
    background-color:#849974; 
    margin-top:20px;
    }
 .tab{
     border:8px solid WhiteSmoke    ;
     border-radius:10px;
     background-color:white;
     margin-top:20px;
     
    
    }
#mySidenav a {
    position: absolute;
    left: -75px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#uye {
    top: 30px;
    background-color: #02213E;
}

#urun{
    top: 90px;
    background-color: #BDD8D2;
}

#siparis{
    top: 150px;
    background-color: #F3A29E;
}

#kategori {
    top: 210px;
    background-color: #C0554F;
}
