body {
    font-family: "Lato", sans-serif;
}

.sidenav {
	border:1px solid;
	border-radius:7px;
    margin-top:269px;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:LightSteelBlue ;
    overflow-x: hidden;
    padding-top:10px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    margin-top:6px;
    font-size: 18px;
    color: #111;
    display: block;
    font-family:Bradley Hand(tc;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 15px; /* Increased text to enable scrolling */
    padding: 20px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 10px;}
}
